#box {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  /* width: 610px; */
  width: 690px;
}
.superior,
.schedule,
.cell,
.day,
.hour {
  border: 1px solid black;
  text-align: center;
}

.hour {
  /* color: red; */
  height: 20px;
}

.day,
.hour,
.bttn {
  /* background-color: aqua; */
  background-color: #b9d1f2;
  width: 80px;
}

#month {
  border: 1px solid black;
  width: 620px;
  /* width: 675px; */
  margin: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.today {
  background-color: #fbc8bf;
  border: 1px solid black;
}

.CyE2 {
  border: 2px dotted black;
  background-color: #fac711;
}

.MdD {
  border: 2px dotted black;
  background-color: #cee740;
}

.PI {
  border: 2px dotted black;
  background-color: #14cdd5;
}

.COE2 {
  border: 2px dotted black;
  background-color: #ee9968;
}
.AF {
  border: 2px dotted black;
  background-color: #2c9cee;
}

body {
  background-color: whitesmoke;
}

#tags {
  color: red;
}

/* #buttons {
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
} */

#btn1,
#btn2 {
  width: auto;
}

#program_appointment {
  margin-left: auto;
  margin-right: auto;
}
