
.body{
    background-color: #5BC4AA;
}

.my_pr_item {
    background-color: white;
    border: 1px solid black;
}

.my_pr{
    float: right;
}

.act img {
    height: 150px;
}

.table_part{
    float: center;
    border: 1px solid black;
    width: 350px;
}

.table_part td {
    border: 1px solid black;
    background-color: white;
}

.lab{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.gray_backg{
    background-color: gray;
    text-emphasis-color: rgb(76, 75, 75);
}

#act {
    width: 400px;
    height: 630px;
    border: 1px solid black;
    background-color: #257B90;
}

#participants {
    float: right;
    width: 500px;
    height: 630px;
    border: 1px solid black;
    background-color: #257B90;
}

#part_list{
    float: right;
    overflow:scroll;
    width: 500px;
    height: 580px;
}

#cancel_button{
    background-color: #F0603D;
}

#form-create-act{
    background-color: white;
    border: 1px solid black;
    width: 800px;
}


