.body_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 900px;
    background-color: #11A26A;
    padding: 10px;
}

.info_and_button_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 25%;
    margin-right: 50px;
    margin-top: 50px;
}

.info_section{
    height: 80%;
    width: 100%;
    border: 2px solid black;
    background-color: #004596;
}

.nombre_monitoria_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 90%;
    border: 5px solid black;
    margin-top: 10px;
    margin-left: 14px;
    background-color: #fff;

}

.nombre_monitoria_section p {
    font-size: 30px;
}

.info_monitoria_section{
    height: 60%;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}

.info_monitoria_section p{
    color: #000;
}

.info_monitoria_section p b{
    color: #fff;
}

.button_salir_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 95%;
    height: 10%;
    
}

.button_salir:hover{
    transform: scale(1.1)
}



.button_salir{
    background-color: transparent;
    border: 2px solid black;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.participantes_section{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 30%; 
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #004596;
    padding: 10px;
}

.title_paticipantes_section{
    width: 90%;
    height: 10%;
    margin-left: 14px;
    margin-top: 10px;
}

.un_participante_section{
    height: 40px;
    width: 70%;
    border: 2px solid black;
    border-radius: 25px 0px 0px 25px;
    background-color: #fff;
    margin-left: 60px;
}

.title_paticipantes_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_paticipantes_section h1{
    font-size: 30px;
    color: #fff;
}


