.container {
    padding: 0 2rem;
    background-color:rgb(255, 255, 255);
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    color: black;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .clearfix{
    clear:both;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .gridSearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #673ab7;
    border:2.5px solid black;
    font-size: 1.5rem;
  }
  
  .block {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 1.5rem;
  }
  
  .block >icesi {
    width: 500px;
    display: flex;
    align-items: left;
  }
  
  .block >searchbar {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .block >profile {
    width: 500px;
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .diva1{
    position:absolute;
    left:50px;
    width:250px;
    height:500px;
    border:2.5px solid black;
    border-radius:100px;
    background:#673ab7;
    align-content: vertical;
    padding: 10px;
    font-size: 5;
    margin: 1rem;
    color:white;
    visibility: visible;
  }
  
  .diva2{
    position:left;
    left:50px;
    width:250px;
    height:max-content;
    border:2.5px solid black;
    
    background:#fafafa;
    align-content: vertical;
    padding: 10px;
    font-size: 5;
    margin: 1rem;
    
  }
  .diva3{
    position:right;
    left:50px;
    width:250px;
    height:max-content;
    border:2.5px solid black;
    background-color: white;
    color:black;
    align-content: vertical;
    padding: 10px;
    font-size: 5;
    margin: 1rem;
    
  }
  
  .diva1 >gear {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 5;
  }
  
  .btplacer{
    padding:0%;
    max-width: 300px;
    height:fit-content;
    font-size: 15pt;
    border:2.5px solid black;
    border-radius:50px;
    color: black;
    background-color: white;
    margin-top: 20px;
  }
  
  .btplacer2{
    max-width: 300px;
    height:auto;
    font-size: 10pt;
    color: white;
  }
  
  .btcss{
    background-color: #673ab7;
    color: white;
  }
  
  .calendar{
    border:solid 5px #777;
    width: 800px;
    height:600px;
  }
  
  .invitationTitle{
    font-size: 12pt;
    font-style:italic;
  }
  
  .invitationInfoTitle{
    font-size: 10pt;
  }
  
  .invitationInfoImg{
    padding-left: 80px;
  }
  
  .invitationContainer{
    position:absolute;
    left:50px;
    width:max-content;
    height:max-content;
    border:2.5px solid black;
    background-color: white;
    color:black;
    align-content:stretch;
    padding: 10px;
    font-size: 5;
    margin: 1rem;
  }
  
  .card {
    width: "1000";
    height:"1000";
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  #container{
    width:100%;
    height: 80%;
    padding: 100px;
  }